# Lab 1

## Experiments

In [15]:
print('Hello world')

Hello world

### Built in types Example

In [25]:
my_integer = 101
my_float = 3.14
my_string = " Hello Python "
my_list = [1 , " a " , 3.0]
my_tuple = (1 , " a " , 3.0)
my_dict = { " name " : " Alice " , " age " : 25}
my_set = {1 , 2 , 3 , 4 , 5}
my_bool = True

### Math Operator Example

In [17]:
a = 10
b = 3
print (f"{a} ** {b} (Exponent) = { a ** b } " )
print (f"{a} % {b} (Modulus) = { a % b } " )
print (f"{a} // {b} (Integer Division) = { a // b } " )
print (f"{a} / {b} (Division) = { a / b } " )
print (f"{a} * {b} (Multiplication) = { a * b } " )
print (f"{a} - {b} (Subtraction) = { a - b } " )
print (f"{a} + {b} (Addition) = { a + b } " )

10 ** 3 (Exponent) = 1000
10 % 3 (Modulus) = 1
10 // 3 (Integer Division) = 3
10 / 3 (Division) = 3.3333333333333335
10 * 3 (Multiplication) = 30
10 - 3 (Subtraction) = 7
10 + 3 (Addition) = 13

### Comparison Operator Example

In [24]:
x = 5
y = 10
print (f" { x } == { y } ( Equal to ) is { x == y }")
print (f" { x } != { y } ( Not equal to ) is { x != y }")
print (f" { x } < { y } ( Less than ) is { x < y } ")
print (f" { x } > { y } ( Greater than ) is { x > y }")
print (f" { x } <= 5 ( Less than or equal to ) is { x <= 5}")
print (f" { y } >= 10 ( Greater than or equal to ) is { y >= 10}")

 5 == 10 ( Equal to ) is False
 5 != 10 ( Not equal to ) is True
 5 < 10 ( Less than ) is True
 5 > 10 ( Greater than ) is False
 5 <= 5 ( Less than or equal to ) is True
 10 >= 10 ( Greater than or equal to ) is True

### Boolean Operator Example

In [22]:
age = 21
is_student = True

if age > 18 and age < 65:
    print ( " You are an adult of working age . " )

if age < 18 or is_student :
    print ( " You qualify for a discount . " )

if not is_student :
    print ("You are not currently a student.")

 You are an adult of working age .
 You qualify for a discount .

### Conditional Statements Example

In [23]:
age = 21

if age < 13:
    print("You are a child.")
elif age < 18:
    print("You are a teenager.")
else:
    print("You are an adult.")

You are an adult.

### Loops Example

In [26]:
counter = 0
print("While Loop")

while counter < 7:
    print(f"Count is {counter}")
    counter += 1

print("\nFor loop with range:")
for i in range(5):
    print(f"Number {i}")

print("\nFor loop with a list:")
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(f"I like {fruit}s")

While Loop
Count is 0
Count is 1
Count is 2
Count is 3
Count is 4
Count is 5
Count is 6

For loop with range:
Number 0
Number 1
Number 2
Number 3
Number 4

For loop with a list:
I like apples
I like bananas
I like cherrys

### Functions Example

In [27]:
def greet(name):
    print(f"Hello, {name}. Welcome!")

def add_numbers(a, b):
    return a + b

greet("Ahsan")
sum_result = add_numbers(5, 7)
print(f"The sum of 5 and 7 is: {sum_result}.")

Hello, Ahsan. Welcome!
The sum of 5 and 7 is: 12.

## Task 1: Move zeroes

Given a list of integers ‘nums‘, write a function to move all ‘0‘’s to the end of it while maintaining the relative order of the non-zero elements. You must do this in-place without making a copy of the list.

In [1]:
def move_zeroes(array):
    i = 0
    j = len(array) - 1

    for _ in range(len(array)):
        i = 0
        while i < j:
            if array[i] == 0:
                temp = array[i]
                array[i] = array[i + 1]
                array[i + 1] = temp
            i += 1

In [2]:
array = [0, 1, 0, 3, 12]
move_zeroes(array)
array

[1, 3, 12, 0, 0]

## Task 2: Two Sum

Given a list of integers ‘nums‘ and an integer ‘target‘, return the indices of the two numbers such that they add up to ‘target‘. You may assume that each input has exactly one solution, and you may not use the same element twice.

In [ ]:
def two_sum(array, target):
    pairs = {}
    
    for i in range(0, len(array) - 1):
        for j in range(i + 1, len(array)):
            if array[i] + array[j] == target:
                pairs[i] = j
    return pairs

In [12]:
array = [2, 7, 11, 15]
target = 9
pairs = two_sum(array, target)

pairs

{0: 1}

## Task 3: FizzBuzz

Write a function that returns a list of strings representing the numbers from 1 to ‘n‘. For multiples of three, use the string ‘”Fizz”‘ instead of the number. For multiples of five, use ‘”Buzz”‘. For numbers that are multiples of both three and five, use ‘”FizzBuzz”‘.

In [13]:
def fizz_buzz(n):
    l = []
    for i in range(1, n + 1):
        if i % 3 == 0 and i % 5 == 0:
            l.append("FizzBuzz")
        elif i % 3 == 0:
            l.append("Fizz")
        elif i % 5 == 0:
            l.append("Buzz")
        else:
            l.append(str(i))
    return l

In [28]:
l = fizz_buzz(15)
print(l)

['1', '2', 'Fizz', '4', 'Buzz', 'Fizz', '7', '8', 'Fizz', 'Buzz', '11', 'Fizz', '13', '14', 'FizzBuzz']